.index-wrapper

-(0..5).each do |i| 
  .index-wrapper__main-contents
    .index-wrapper__main-contents__header
      .index-wrapper__main-contents__header__status
        受付中
      .index-wrapper__main-contents__header__title
        bulletで警告されるN+1問題が解決できない
    
    .index-wrapper__main-contents__middle
      .index-wrapper__main-contents__middle__answer
        回答
        .index-wrapper__main-contents__middle__answer__count
          0
      .index-wrapper__main-contents__middle__tag
        RubyonRails
    
    .index-wrapper__main-contents__under
      .index-wrapper__main-contents__under__PV-box
        .index-wrapper__main-contents__under__PV-box__icon
          %i.fa.fa-heart.index-wrapper__main-contents__under__PV-box__icon__heart#heart
        .index-wrapper__main-contents__under__PV-box__value
          10
        .index-wrapper__main-contents__under__PV-box__PV
          PV
        
        .index-wrapper__main-contents__under__PV-box__info-box
          .index-wrapper__main-contents__under__PV-box__info-box__name
            aaa
          .index-wrapper__main-contents__under__PV-box__info-box__time
            4分前