.index-wrapper

-@questions.includes(:likes).each do |question| 
  .index-wrapper__main-contents
    .index-wrapper__main-contents__header
      .index-wrapper__main-contents__header__status
        受付中
      .index-wrapper__main-contents__header__title
        =question.title
    
    .index-wrapper__main-contents__middle
      .index-wrapper__main-contents__middle__answer
        回答
        .index-wrapper__main-contents__middle__answer__count
          0
      .index-wrapper__main-contents__middle__tag
        =question.category.title
    
    .index-wrapper__main-contents__under
      .index-wrapper__main-contents__under__PV-box
        -# -binding.pry
        -if question.likes.first.nil?
          .index-wrapper__main-contents__under__PV-box__icon
            %i.fa.fa-heart.index-wrapper__main-contents__under__PV-box__icon__heart.heart.none-active-color{data:{id: question.id}}

        -elsif question.likes.first.user_id == current_user.id
          .index-wrapper__main-contents__under__PV-box__icon
            %i.fa.fa-heart.index-wrapper__main-contents__under__PV-box__icon__heart.heart.active-color{data:{id: question.id}}
        
        -else
          .index-wrapper__main-contents__under__PV-box__icon
            %i.fa.fa-heart.index-wrapper__main-contents__under__PV-box__icon__heart.heart.none-active-color{data:{id: question.id}}

            -# -binding.pry
        .index-wrapper__main-contents__under__PV-box__value.count{data:{id: question.id}}
          = question.likes.count
        .index-wrapper__main-contents__under__PV-box__PV
          PV
        
        .index-wrapper__main-contents__under__PV-box__info-box
          .index-wrapper__main-contents__under__PV-box__info-box__name
            = question.user.name
          %time.index-wrapper__main-contents__under__PV-box__info-box__time(datetime="#{question.created_at}")
            = time_ago_in_words(question.created_at)