$main_green: rgb(144,238,144);
$accent_orange: rgb(255,102,0);
$background_orange: rgb(255,245,230);
$border_grey: rgb(204,204,204);
$bright_grey: rgb(160,160,160);
$dark_grey: rgb(102,102,102);
$background_grey: rgb(245,247,245);
$markdown_background: rgb(60,70,60);
$link_blue: rgb(50, 87, 125);
