/* padding, margin */
$space_associated: 15px;
$space_unassociated: 30px;

/* border-radius */
$base_border_radius: 3.5px;

/* screen width */
$base-content-width: 960px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;
$regular_laptop: 912px;
$tablet: 768px;
$small_tablet: 600px;
$smartphone: 480px;

/* font sizing*/
$default_text: 14px;
$heading_text: 18px;
$small_text: 12px;
$minimum_text: 10px;
