// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-wrapper{
    &__main-contents{
        &__header{
            font-family: "San Francisco";
            padding-top: 12px;
            &__status{
                display: inline-block;
                height: 20px;
                width: 46px;
                font-size: 10px;
                color: #666666;
                font-weight: bold;
                background-color: #eee;
                text-align: center;
                line-height: 20px;
            }
            &__title{
                display: inline-block;
                font-size: 20px;
                color: #32577d;
                font-weight: bold;     
                margin-left: 20px;
                vertical-align: top;
            }
        }
        &__middle{
            padding: 10px;
            font-family: "San Francisco";
            &__answer{
                display: inline-block;
                font-size: 12px;
                color:  #ccc;
                font-weight: bold;
                &__count{
                    font-size: 20px;
                    color:  #ccc;
                    padding: 3px 5px;
                }
            }
            &__tag{
                height: 20px;
                width: 100px;
                display: inline-block;
                font-size: 10px;
                color:  #444444;
                font-weight: bold;
                margin: 20px 35px 0;
                text-align: center;
                line-height: 18px;
                background-color: #ADD8E6;
                border-radius: 5px;
                vertical-align: top;
            }
        }
        &__under{
            font-family: "San Francisco";
            width: 920px;
            border-bottom: 1px solid  #ccc;

            &__PV-box{
                margin: 6px 0 12px 0;
                &__icon{
                    display: inline-block;
                    padding-left:70px;
                }
                &__value{
                    display: inline-block;
                    margin-left:5px;
                    letter-spacing: 10px
                }
                &__PV{
                    display: inline-block;
                }
                &__info-box{
                    float: right;
                    &__name{
                        display: inline-block;
                        color:   #32577d;
                        font-weight: bold;
                        margin-right: 20px;
                    }
                    &__time{
                        display: inline-block;
                        font-weight: bold;
                        margin-right: 8px;
                        color: #666666;
                    }
                }
            }
        }
    }
}